*{
	padding:0;
	margin:0;
}
html{
	height:100%;
	background-image:url('./../img/bg.jpg');
	background-size:100% 100%;
}
body{
	text-align:center;
}

.box{
	margin-top:300px;
	padding:30px;
	display:inline-block;
	background-color:rgba(255,255,255,0.3);
	text-align:left;
	border:1px solid rgba(255,255,255,0.45);
	border-radius: 4px;
}

.mar{
	margin-bottom: 17px;
}

.font{
	color:white;
	font-size:13px;
}

.inp{
	border:1px solid rgb(207,218,221);
	border-radius: 4px;
	padding-left:10px;
	height: 30px;
    width: 280px;
}

a{
	display:block;
	text-decoration: none;
	font-size:13px;
	color:rgb(51,122,183);
}

.btn{
	padding:10px;
	color:white;
	width:100%;
	background-color: rgb(39,194,76);
	border:0;
	border-radius: 4px;
}

.line{
	width:355px;
	margin:0 auto;
	height:1px;
	background-color:white;
	margin-top:24px;
}

.footer{
	width:355px;
	margin:0 auto;
	margin-top:15px;
	text-align:left;
}